#airport-map {
    height: 400px;
}

#airport-data {
    margin: 12px;
    display: inline-block;
}

#exercise-toggle {
    cursor: pointer;
}

#instruction-toggle {
    line-height: 44px;
    vertical-align: text-bottom;
    font-size: 32px;
    font-weight: bold;
}

#airport-list {
    overflow-y: auto;
}

.main-content {
    padding: 15px;
}

#exercise-description {
    padding: 0 25px;
}

.jumbotron {
    padding-left: 25px;
}

.filter-panel {
    height: 400px;
    border: 1px solid black;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
}

.map-panel {
    padding: 0;
}

.airport-filter {
    padding: 10px;
}

.site-row {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  align-self: flex-end;
}

.filter-field {
    width: 150px;
}