#airport-settings {
    width: calc(100% - 8px);
    border: 2px solid black;
    height: 128px;
    padding: 4px;
    margin: 10px 14px 10px 0px;
}

#airport-settings #setting-name {
    width: 128px;
    float: left;
    border-right: 1px solid black;
}

#airport-settings #setting-value {
    width: calc(100% - 128px);
    margin-left: 128px;
    min-width: 240px;
    text-align: left;
}

#airport-settings #setting-value div {
    margin-left: 14px;
}

#airport-map{
    width: 95%;
    height: 400px;
    margin: 5px;
}

#airport-data {
    margin: 12px;
    width: 95%;
}

#exercise-toggle {
    cursor: pointer;
}

#instruction-toggle {
    line-height: 44px;
    font-size: 32px;
    font-weight: bold;
}

.code-list-item {
    list-style: none;
    display: inline-block;
    padding: 12px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 8px;
    margin: 5px;
    font-family: monospace;
}

.code-list-item:hover {
    cursor: pointer;
    color: orange;
    background-color: white;
}

@media (min-width: 800px) {
    #container {
        position:relative;
    }

    #airport-map, #airport-data{
        width: 45%;
        display: inline-block;
        position: absolute;
        top: 0;
    }

    #airport-map {
        left: 20px;
    }

    #airport-data{
        right: 20px;
    }
}