#airport-settings {
    width: calc(100% - 8px);
    border: 2px solid black;
    height: 128px;
    padding: 4px;
    margin: 10px 14px 10px 0px;
}

#airport-settings #setting-name {
    width: 128px;
    float: left;
    border-right: 1px solid black;
}

#airport-settings #setting-value {
    width: calc(100% - 128px);
    margin-left: 128px;
    min-widtH: 240px;
    text-align: left;
}

#airport-settings #setting-value div {
    margin-left: 14px;
}

#excercise-heading{
	text-align: center;
	line-height: 44px;
    vertical-align: text-bottom;
    font-size: 52px;
    font-weight: bold;
}


#airport-map{
    width: 800px;
    height: 600px;
	margin-left: 228px;
}

#airport-data {
    margin: 12px;
	color:#660066;
}

#exercise-toggle {
    cursor: pointer;
}

#instruction-toggle {
    line-height: 44px;
    vertical-align: text-bottom;
    font-size: 32px;
    font-weight: bold;
}

body {
	background-color: #ffa366;
}
