#airport-settings {
    width: calc(100% - 8px);
   color: grey;
    height: 128px;
    padding: 4px;
    margin: 10px 14px 10px 0px;
}

#airport-settings #setting-name {
    width: 128px;
    float: left;
    border-right: 1px solid black;
}

#airport-settings #setting-value {
    width: calc(100% - 128px);
    margin-left: 128px;
    min-widtH: 240px;
    text-align: left;
}

#airport-settings #setting-value div {
    margin-left: 14px;
}

#airport-map{
    width: 100%;
    height: 600px;
}

#airport-data {
    margin: 12px;
}

#exercise-toggle {
    cursor: pointer;
}

#instruction-toggle {
    line-height: 44px;
    vertical-align: text-bottom;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
}